# Virtual Environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor folders
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Datasets - usually too large for GitHub
# datasets/